@import 'tailwindcss';

:root {
  font-family: "Momo Trust Sans", sans-serif;

  color-scheme: light dark;
  background-color: #0c0c0c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
